@media (max-width: 766px) {
    .header {
        display: flex;
    }
}

@media (max-width: 766px) {
    .nav-search {
        display: flex;
        width: 400px;
        height: 30px;
        margin-top: 40px;
    }
    .nav-icones {
        display: flex;
    }
}

@media (max-width: 630px) {
    .nav-search {
        display: flex;
        width: 300px;
        height: 30px;
        margin-top: 40px;
        font-size: 12px;
        padding: 12px 20px 12px 20px;
    }
    .nav-icones {
        display: flex;
    }
    .logo {
        margin-top: 5px;
        height: 100px;
    }
}

@media (max-width: 530px) {
    .nav-search {
        display: flex;
        width: 200px;
        height: 30px;
        margin-top: 40px;
        font-size: 7px;
        padding: 12px 20px 12px 5px;
    }
    .nav-icones {
        display: flex;
    }
    .logo {
        margin-top: 5px;
        height: 100px;
    }
}