@media (max-width:1040px) {
    .slider {
        height: auto;
    }
    .container-1 {
        display: flex;
        flex-direction: column;
        background-color: rgba(253, 221, 221);
        height: auto;
    }
    .div-video {
        display: flex;
        height: auto;
        flex-wrap: wrap;
        background-color: rgba(253, 221, 221);
    }
    .div-text {
        flex-direction: column;
        margin-bottom: 40px;
        display: flex;
        font-size: 15px;
    }
    .hr-color {
        display: none;
    }
    .info-header {
        margin-right: 20px;
    }
}

@media (max-width: 766px) {
    /* header - search responsive*/
    .header {
        display: flex;
    }
    .nav-search {
        display: flex;
        width: 400px;
        height: 30px;
        margin-top: 40px;
    }
    .nav-icones {
        display: flex;
    }
    .categories {
        display: block;
    }
    .dropdown {
        display: none;
    }
    /* toggle-button responsive */
    .toggle-button {
        display: block;
        left: 30px;
        margin-bottom: 5px;
    }
    .navbar {
        display: none;
    }
    .navbar ul {
        flex-direction: column;
        width: 175px;
        margin-left: 25px;
        margin-top: 35px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        background-color: #f9f9f9;
    }
}

@media (max-width: 630px) {
    .nav-search {
        display: flex;
        width: 300px;
        height: 30px;
        margin-top: 40px;
        font-size: 12px;
        padding: 12px 20px 12px 20px;
    }
    .nav-icones {
        display: flex;
    }
    .logo {
        margin-top: 5px;
        height: 100px;
    }
}

@media (max-width: 530px) {
    .nav-search {
        display: flex;
        width: 200px;
        height: 30px;
        margin-top: 40px;
        font-size: 7px;
        padding: 12px 20px 12px 5px;
    }
    .nav-icones {
        display: flex;
    }
    .logo {
        margin-top: 5px;
        height: 100px;
    }
}

@media (max-width: 437px) {
    .nav-search {
        display: flex;
        width: 170px;
        height: 30px;
        margin-right: 20px;
        font-size: 7px;
        padding: 12px 20px 12px 5px;
    }
    .nav-icones {
        margin-right: 20px;
        font-size: 15px;
        justify-content: space-between;
    }
    .logo {
        margin-top: 15px;
        height: 70px;
    }
    .sec-2-text1 {
        font-size: 12px;
    }
    .sec-2-text2 {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .nav-search {
        display: flex;
        width: 175px;
        height: 25px;
        margin-right: 15px;
        font-size: 7px;
        padding: 12px 20px 12px 5px;
        background-size: 12px 12px;
    }
    .nav-icones {
        margin-right: 45px;
        font-size: 10px;
        justify-content: space-around;
    }
    .logo {
        height: 60px;
        margin-left: 10px;
    }
    .navbar a {
        font-size: 8px;
    }
    .navbar ul {
        width: 130px;
    }
}