@media (max-width: 766px) {
    .header {
        display: flex;
    }
}

@media (max-width: 766px) {
    .nav-search {
        display: flex;
        width: 400px;
        height: 30px;
        margin-top: 40px;
    }
    .nav-icones {
        display: flex;
    }
}

@media (max-width: 630px) {
    .nav-search {
        display: flex;
        width: 300px;
        height: 30px;
        margin-top: 40px;
        font-size: 12px;
        padding: 12px 20px 12px 20px;
    }
    .nav-icones {
        display: flex;
    }
    .logo {
        margin-top: 5px;
        height: 100px;
    }
}

@media (max-width: 530px) {
    .nav-search {
        display: flex;
        width: 200px;
        height: 30px;
        margin-top: 40px;
        font-size: 7px;
        padding: 12px 20px 12px 5px;
    }
    .nav-icones {
        display: flex;
    }
    .logo {
        margin-top: 5px;
        height: 100px;
    }
}

@media (max-width: 437px) {
    .nav-search {
        display: flex;
        width: 170px;
        height: 30px;
        margin-right: 20px;
        font-size: 7px;
        padding: 12px 20px 12px 5px;
    }
    .nav-icones {
        margin-right: 20px;
        font-size: 15px;
        justify-content: space-between;
    }
    .logo {
        margin-top: 15px;
        height: 70px;
    }
}

@media (max-width: 320px) {
    .nav-search {
        display: flex;
        width: 175px;
        height: 25px;
        margin-right: 15px;
        font-size: 7px;
        padding: 12px 20px 12px 5px;
        background-size: 12px 12px;
    }
    .nav-icones {
        margin-right: 45px;
        font-size: 10px;
        justify-content: space-around;
    }
    .logo {
        height: 60px;
        margin-left: 10px;
    }
}