.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 96px;
    height: 107px;
    padding-top: 27px;
}

.nav-search {
    width: 557px;
    height: 48px;
    margin-top: 30px;
    padding: 12px 20px 12px 40px;
    font-size: 14px;
    font-family: 'Roboto';
    color: #FF0000;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border: 1px solid #DFDFDF;
}

.nav-icones {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    width: 100px;
}

hr {
    width: 100%;
    height: 2px;
    border-top: #F0F0F0;
}

.info-header {
    display: flex;
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    color: #FF4F04;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Roboto';
    margin-left: 78px;
    margin-right: 30px;
}

.fa-caret-square-down {
    color: #FF0000;
}

.info-header a:hover,
.dropdown:hover .dropbtn {
    background-color: #FF0000;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    font-size: 14px;
    font-family: 'roboto';
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #FF0000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    overflow: hidden;
}

li {
    float: left;
    padding-right: 30px;
}

li a {
    display: block;
    color: #302F2F;
    font-family: 'Roboto';
    font-size: 14px;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    color: #FF0000;
}

.vendor {
    color: #FF0000;
    font-weight: bold;
}

.toggle-button {
    position: absolute;
    color: #FF0000;
    display: none;
}

.navbar.active {
    display: block;
}

.categories {
    display: none;
}