.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.logo {
    width: 96px;
    height: 107px;
    padding-top: 27px;
    font-family: 'Pristina';
}

.nav-search {
    width: 557px;
    height: 48px;
    margin-top: 30px;
    padding: 12px 20px 12px 40px;
    font-size: 14px;
    font-family: 'Roboto';
    color: #FF0000;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border: 1px solid #DFDFDF;
}

.nav-icones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 48px;
    width: 100px;
}

hr {
    width: 100%;
    height: 2px;
    border-top: #F0F0F0;
}


/* navigation styles */

.info-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    color: #FF4F04;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Roboto';
    margin-left: 78px;
}

.fa-caret-square-down {
    color: #FF0000;
}

.info-header a:hover,
.dropdown:hover .dropbtn {
    background-color: #FF0000;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    font-size: 14px;
    font-family: 'roboto';
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #FF0000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

ul {
    overflow: hidden;
}

li {
    float: left;
    padding-right: 30px;
}

li a {
    display: block;
    color: #302F2F;
    font-family: 'Roboto';
    font-size: 14px;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    color: #FF0000;
}

.vendor {
    color: #FF0000;
    font-weight: bold;
}


/* togglr-button styles */

.toggle-button {
    position: relative;
    color: #FF0000;
    display: none;
}

.navbar.active {
    display: block;
}

.categories {
    display: none;
}

.toggle-menu {
    display: inline-block;
}


/* slider styles */

.slider {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 405px;
}

.slider-item {
    height: 32vw;
    min-height: 8vw;
    width: 100%;
}

.slider-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.img-5 {
    -o-object-position: 5% 60%;
    object-position: 5% 60%;
}

.slider-text {
    position: absolute;
    margin-top: 81px;
    margin-left: 90px;
    color: white;
    font-family: 'roboto';
    font-size: 45px;
    font-weight: 800;
}

.slider-text2 {
    position: absolute;
    margin-top: 150px;
    margin-left: 95px;
    color: white;
    font-family: 'roboto';
    font-size: 25px;
    font-weight: 500;
}

.slider-but {
    background-color: #FF4F04;
    position: absolute;
    width: 137px;
    height: 50px;
    color: white;
    font-size: 16px;
    margin-top: 250px;
    margin-left: 90px;
}

.fa-shopping-basket {
    padding-left: 5px;
}

.white-back {
    color: #FF4F04
}


/* section-2 style */

.container-1 {
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* div-text styles */

.div-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0px;
    height: 50px;
}

.sec-2-text1 {
    padding-top: 35px;
    font-size: 14px;
    font-family: 'Poppins';
}

.sec-2-text2 {
    margin-top: 5px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins';
}


/* div-vide */

.div-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 372px;
    margin-left: 24px;
    margin-right: 24px;
    width: 100%;
}

video {
    position: relative;
    height: 270px;
    height: 243px;
}

.hr-color {
    position: absolute;
    margin-top: 250px;
    height: 150px;
    width: 100%;
    background-color: rgba(253, 221, 221)
}

.vid-text1,
.vid-text2 {
    position: relative;
    text-align: center;
    text-transform: capitalize;
}

.vid-text1 {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 450;
    margin-top: 5px;
}

.vid-text2 {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 700;
    margin-top: 10px;
    margin-left: 90px;
    color: #FF4F04;
    border-radius: 50%;
    background-color: #FDD0C9;
    width: 56px;
    height: 31px;
    padding-top: 8px;
}


/* sectoin-3 */

.explore-button {
    display: flex;
    width: 100%;
    height: 157px;
    justify-content: center;
    align-items: center;
}

.explore {
    display: flex;
    background-color: white;
    width: 224.22px;
    height: 57px;
    border-radius: 10px;
    font-family: 'roboto';
    font-size: 16px;
    padding-top: 15.5px;
    padding-left: 25px;
}


/*section-4 */

.section-4 {
    height: 220px;
}

.rec-container {
    position: relative;
}

.rec-container p {
    position: absolute;
    color: white;
    font-family: 'roboto';
    font-weight: bold;
    margin-left: 30px;
    margin-top: 70px;
    line-height: 50px;
    font-size: 35px;
    width: 529px;
}

.rectangle-img {
    position: absolute;
    -webkit-filter: brightness(0.4);
    filter: brightness(0.4);
    height: 220px;
    width: 100%;
}

.rec-button {
    position: absolute;
    background: transparent;
    height: 56.19px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
    float: none;
    text-align: center;
    width: 224.22px;
    font-size: 16px;
    color: #fff;
    right: 20px;
    top: 108px;
}

.rec-button:hover {
    background-color: white;
    color: black;
}


/* section-5 */

.section-5 {
    height: 820px;
}

.div-text {
    position: relative;
}

.container-2 {
    position: relative;
    width: 100%;
    height: 680px;
    margin-top: 70px;
}

.discount-shoes {
    position: absolute;
    height: 680px;
    margin-left: 60px;
    text-align: center;
}

.discount-shoes p {
    margin-right: 10px;
}

.discount-shoes img {
    width: 214px;
    height: 214px;
    margin-top: 5px;
}

.shoes-1 {
    position: absolute;
    width: 255px;
    height: 313px;
    background-color: #F5F5F5;
    border-radius: 20px;
}

.shoes-2 {
    position: absolute;
    width: 255px;
    height: 313px;
    background-color: #F5F5F5;
    border-radius: 20px;
    left: 300px;
}

.shoes-3 {
    position: absolute;
    width: 255px;
    height: 313px;
    background-color: #F5F5F5;
    border-radius: 20px;
    top: 367px;
}

.shoes-4 {
    position: absolute;
    width: 255px;
    height: 313px;
    background-color: #F5F5F5;
    border-radius: 20px;
    top: 367px;
    left: 300px;
}

.shoes {
    height: 214px;
    margin-left: 20px;
}

.disc-text1 {
    display: inline-block;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 450;
    margin-left: 10px;
    margin-top: 30px;
}

.disc-text2 {
    display: inline-block;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #FF4F04;
    border-radius: 40%;
    border: 1px solid #FF0000;
    background-color: white;
    width: 45px;
    height: 25px;
    padding-left: 6px;
    padding-top: 6px;
}

.disc-text2:hover {
    background-color: #FF4F04;
    color: white;
}

.pop-shoes {
    position: absolute;
    left: 680px;
    width: 530px;
    height: 680px;
    background-color: #F5F5F5;
    border-radius: 20px;
}

.pop-shoes img {
    height: 531px;
    width: 520px;
}

.pop-sale {
    font-family: 'Poppins';
    font-size: 14px;
    color: white;
    border-radius: 40px;
    border: 1px solid black;
    background-color: black;
    width: 83px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 7px;
    padding-left: 4px;
}

.pop-price {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #FF4F04;
    border-radius: 40%;
    border: 1px solid #FF0000;
    background-color: white;
    width: 45px;
    height: 25px;
    padding-left: 6px;
    padding-top: 6px;
}

.pop-price:hover {
    background-color: #FF4F04;
    color: white;
}

.pop-name {
    margin-left: 25px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 25px;
}

.pop-brand {
    margin-left: 25px;
    margin-top: 8.9px;
    font-family: 'Poppins';
    font-size: 14px;
    color: #7A7A7A;
}


/* section-6 */

.section-6 {
    height: 220px;
    width: 100%;
}

.rec-container-2 {
    position: relative;
    width: 100%;
}

.rec-container-2 p {
    position: absolute;
    color: white;
    font-family: 'roboto';
    font-weight: bold;
    margin-left: 30px;
    margin-top: 70px;
    line-height: 30px;
    font-size: 35px;
    width: 529px;
}

.rec-container-2 .rec-text-2 {
    margin-top: 150px;
    font-family: 'Poppins';
    font-weight: lighter;
    font-size: 30px;
}

.rec-button {
    position: absolute;
    background: transparent;
    height: 56.19px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
    float: none;
    text-align: center;
    width: 224.22px;
    font-size: 16px;
    color: #fff;
    right: 20px;
    top: 108px;
}

.rec-button:hover {
    background-color: white;
    color: black;
}


/* w-trending */

.w-trending {
    margin-top: 70px;
    justify-content: center;
    height: 730px;
}

.trend-1-line {
    display: flex;
    height: 365px;
    justify-content: center;
    justify-content: space-around;
}

.w-trend-item {
    display: flex;
    flex-direction: column;
}

.trend-1-line img {
    display: flex;
    width: 269px;
    height: 269px;
    margin-right: 13px;
    object-fit: cover;
    object-position: 0% 70%;
    border-radius: 15px;
}

.trend-1-line p {
    margin-top: 10px;
}

.w-trend-text-1 {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
}

.w-price {
    font-size: 10px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #FF4F04;
    border-radius: 40%;
    border: 1px solid #FF0000;
    background-color: white;
    width: 50px;
    height: 25px;
    padding-left: 5px;
    padding-top: 8px;
}

.w-price:hover {
    background-color: #FF4F04;
    color: white;
}

.trend-2-line {
    display: flex;
    height: 365px;
    justify-content: center;
    justify-content: space-around;
}

.trend-2-line img {
    display: flex;
    width: 269px;
    height: 269px;
    margin-right: 13px;
    object-fit: cover;
    object-position: 0% 70%;
    border-radius: 15px;
}

.trend-2-line p {
    margin-top: 10px;
}

.w-trend-item-6 {
    background-color: #e9dfd5;
}


/* section-8 */

.section-8-img {
    position: absolute;
    -webkit-filter: brightness(0.4);
    filter: brightness(0.4);
    height: 220px;
    width: 100%;
    object-fit: cover;
}


/* footer */

.footer {
    position: relative;
    display: flex;
    height: 200px;
    margin-top: 240px;
}

.footer h5 {
    font-size: 17px;
    font-weight: bold;
}

.logo-slogan {
    margin-left: 40px;
}

.slogan {
    font-size: 40px;
    font-family: 'Segoe UI';
    color: #F77C7C;
    margin-left: 10px;
    margin-top: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    justify-content: space-around;
    height: 193px;
    font-family: 'Segoe UI';
}

.legals {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    height: 91px;
    justify-content: space-around;
    font-family: 'Segoe UI';
}

.contacts {
    margin-left: 70px;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    height: 165px;
    width: 255px;
    justify-content: space-between;
    font-family: 'Segoe UI';
    font-size: 14px;
}